#header {
	padding: 61px 0;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
	.container-fluid {
		padding: 0 100px;
	}
    .logo {
    	position: relative;
    	h1 {
    		font-size: 78px;
    		position: absolute;
	        top: 16px;
    		right: -135px;
    	}
    	img {
    		max-width: 230px;
    	}
    }	
	nav {
		.menu-header {
			background: url(../images/menu-header-bg.png) center center no-repeat;
			width: 781px;
			height: 77px;
		    justify-content: center;
			li {
				margin-left: 11px;
				a {
					color: #fff;
					font-size: 18px;
					line-height: 24px;
					padding: 0;
				}
				a:hover {
					color: #7DC243;
				}
			}
			li:first-child {
				margin-left: 0;
			}
		}
		.user-action {
			.wrap-user-acct {
				a {
					background: url(../images/user-wallet-bg.png) center center no-repeat;
					background-size: cover;
					width: 248px;
					height: 64px;
					display: flex;
					padding-left: 20px;
					cursor: pointer;
					span.user-acct {
						font-size: 20px;
						line-height: 28px;
						color: #fff;
					}
				}
			}
			.wrap-user-btn {
				.btn-connect-wallet {
					background: url(../images/btn-connect-wallet.png) center center no-repeat;
					background-size: cover;
					width: 248px;
					height: 64px;
				}				
			}
		}
	}
}