.home-page {
	.boder-section {
		img {
			width: 100%;
		}
	}
	.top-home-page {
		background: url(../images/top-home-page-bg.png) center center no-repeat; 
		background-size: cover;
		padding: 223px 0 106px 0;
		.info {
			color: #fff;
			h1.title {
				font-size: 96px;
				line-height: 137px;
			}
			p {
				font-size: 36px;
				line-height: 49px;
			}
		}
		.network-support {
			p {
				font-size: 24px;
				line-height: 134.79%;
				margin-bottom: 94px;
			}
			a {
				img {
					margin-bottom: 27.64px;
				}
			}
		}
		.social-area {
			display: flex;
			justify-content: center;
			margin-top: 31px;
			.social-list {
				list-style: none;
				li {
					margin-right: 70.32px;
					a {
						img {
							width: 42px;
							height: 42px;
						}
					}
					a:hover img {
						transform: scale(1.2);
	  					transition: all 0.5s ease-in-out;
					}
				}
				li:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.air-drop {
		background: url(../images/home-bg-1.png) bottom center no-repeat; 
		background-size: auto;
		text-align: center;
		padding-top: 72px;
		padding-bottom: 133px;
		h1.title {
			font-size: 64px;
			line-height: 91px;
			margin-bottom: 60px;
		}
		p {
			font-size: 24px;
			line-height: 134.79%;
		    width: 65%;
    		margin: 0 auto;
    		margin-bottom: 26px;
		}	
		.token-claimable {
			margin-top: 30px;
			text-align: center;
			p {
				font-size: 24px;
				line-height: 134.79%;
				color: #fff;
				margin-bottom: 48px;
				span {
					font-size: 64px;
					line-height: 91px;
				}
			}
		}
		.process-bar {
			height: 60px;
			border-radius: 63px;
			padding: 6px;
			display: flex;
			align-items: center;
			background: #fff;
		    border: 2px solid transparent;
		    margin-bottom: 64px;
			.progress {
				height: 46px;
				border-radius: 63px;
				width: 100%;
				position: relative;
			    background: #DADADA;
				.bg-success {
					background: url(../images/process-bar-bg.png) center center no-repeat; 
					background-size: cover;		
					border-radius: 63px;			
					z-index: 99;
					font-size: 20.3833px;
					line-height: 29px;
				}
				p.total-claimable {
					position: absolute;
				  	top: 0;
				  	right: 15px;
				 	color: rgba(0, 0, 0, 0.2);
				 	margin-bottom: 0;
				 	text-align: right;
				 	height: 46px;
				    display: flex;
				    align-items: center;
				    justify-content: end;
				    z-index: 1;
				}
			}
		}
		.btn-area {
			margin-bottom: 60px;
			button.btn-home-page {
				background-color: transparent;
				font-size: 30px;
			    padding: 10px;
			    border-radius: 10px;
		        margin-right: 60px;
    			width: 329px;
				height: 68.75px;
				border: 0;
			}
			button.btn-home-page:last-of-type {
				margin-right: 0;
			}
			.btn-connect {
				background: url(../images/button-connect.png) center center no-repeat; 
				background-size: cover;
			}
			.btn-invite {
				background: url(../images/button-invite.png) center center no-repeat; 
				background-size: cover;
			}
		}
		.air-drop-for {
			p {
				display: flex;
			    align-items: center;
			    justify-content: center;
			}
			p.arb-holder {
				background: url(../images/bg-1.png) center center no-repeat; 
				background-size: cover;
				width:220.65px;
				height: 67.71px;
			}
			p.pepe-holder {
				background: url(../images/bg-2.png) center center no-repeat; 
				background-size: cover;
				width: 249.67px;
				height: 68.31px;
			}
			p.papenft-holder {
				background: url(../images/bg-3.png) center center no-repeat; 
				background-size: cover;
				width: 275.06px;
				height: 68.92px;
			}
		}
	}
	.about-pape {
		background: url(../images/home-bg-2.png) bottom center no-repeat; 
		background-size: auto;
		text-align: center;
		padding-top: 126px;
		padding-bottom: 139px;
		h1.title {
			font-size: 64px;
			line-height: 91px;
			margin-bottom: 80px;
		}
		.img {
			margin-bottom: 38px;
			img {
				width: 533px;
			}
		}
		.description {
			p {
				font-size: 24px;
				line-height: 180%;
			}
		}
	}
	.tokenomic {
		background: url(../images/home-bg-1.png) bottom center no-repeat; 
		background-size: auto;
		padding-top: 88px;
		padding-bottom: 132px;
		h1.title {
			font-size: 64px;
			line-height: 91px;
			margin-bottom: 67px;
			text-align: center;
		}
		.info {
			text-align: left;
			h4.title {
				font-size: 36px;
				line-height: 51px;
				color: #FC9230;
				margin-bottom: 28px;
			}
			p {
				font-size: 24px;
				line-height: 134.79%;
			}
		}
		.img {
			margin-bottom: 48px;
		    img {
		    	width: 100%;
		    }
		}
		.transparency {
			.img {
				img {
					width: 100%;
				}
			}
			h4.title {
				font-size: 36px;
				line-height: 51px;
				color: #fff;
				margin-bottom: 20px;
			}
			p {
				font-size: 24px;
				line-height: 134.79%;
				text-align: left;
    			margin: 0 auto;
    			margin-bottom: 28px;
    			color: #7DC243;
				span {
					font-weight: bold;
					color: #fff;
					button {
						background: transparent;
						color: #00D38E;
						border: 0;
						margin-left: 2px;
					}
					button:hover {
						color: #Fff;
					}
				}
			}
		}
	}
	.tax-and-zeroloss {
		background: url(../images/home-bg-2.png) bottom center no-repeat; 
		background-size: auto;
		text-align: center;
		padding-top: 120px;
		padding-bottom: 162px;
		.img {
			margin-bottom: 66.32px;
			img {

			}
		}
		h1.title {
			font-size: 64px;
			line-height: 91px;
			margin-bottom: 39px;
		}
		p {
			font-size: 24px;
			line-height: 180%;
			margin-bottom: 54px;
		}
		span {
			font-size: 32px;
			line-height: 134.79%;
			color: #FC9230;
		}
		.transparency {
			margin-top: 70px;
			p {
				margin-bottom: 0;
			}
			.direction-2 {
				text-align: center;
			    margin-bottom: 54px;
		        color: #FC9230;
		        margin-top: 20px;
		        margin-bottom: 20px;
			}
			// .text-1 {
			// 	background: url(../images/bg-text-1.png) center center no-repeat; 
			// 	background-size: cover;
			// 	width: 305.03px;
			// 	height: 276.58px;
			//     padding: 25px;
    		// 	margin: 0 auto;
			// 	p {
			// 		font-size: 20px;
			// 		line-height: 134.79%;
			// 	}
			// }
			// .text-2 {
			// 	background: url(../images/bg-text-2.png) center center no-repeat; 
			// 	background-size: cover;
			// 	width: 304.25px;
			// 	height: 294.17px;
			//     padding: 25px;
    		// 	margin: 0 auto;
			// 	p {
			// 		font-size: 20px;
			// 		line-height: 134.79%;
			// 	}
			// }
			// .text-3 {
			// 	background: url(../images/bg-text-3.png) center center no-repeat; 
			// 	background-size: cover;
			// 	width: 304.72px;
			// 	height: 285.55px;
			//     padding: 25px;
    		// 	margin: 0 auto;
			// 	p {
			// 		font-size: 20px;
			// 		line-height: 134.79%;
			// 	}
			// }
		}
	}
	.road-map {
		background: url(../images/bg-home-bottom.png) bottom center no-repeat; 
		background-size: auto;
		text-align: center;
		padding-top: 87px;
		padding-bottom: 110px;
		h1.title {
			font-size: 64px;
			line-height: 91px;
			margin-bottom: 49px;
		}
		p {
			font-size: 24px;
			line-height: 134.79%;
		}
		.road-map-info {
			.phase {
			    p {
			    	margin-bottom: 0;
			    }
			    img {
				margin-bottom: 22px;
			}
			}
			.direction {
				margin: auto;
				margin-top: 60px;
				display: grid;
				p {
					margin-bottom: 0;
				}

			}
			.direction {
				padding: 40px;
				padding-top: 50px;

				p::before {
				  content: "\2022"; 
				  margin-right: 0.5em; 
				}
			}
			.direction-1 {
				background: url(../images/bg-text-4.png) center center no-repeat; 
				background-size: cover;
				width: 1109.15px;
				height: 308.23px;		    
			}
			.direction-2 {
				background: url(../images/bg-text-5.png) center center no-repeat; 
				background-size: cover;
				width: 1109px;
				height: 394px;
			}
			.direction-3 {
				background: url(../images/bg-text-6.png) center center no-repeat; 
				background-size: cover;
				width: 1120px;
				height: 297px;
			}
		}
	}
}