.home-page {
	.boder-section {
		img {
			width: 100%;
		}
	}
	.top-home-page {
		padding: 223px 0 106px 0;
		.info {
			color: #fff;
			h1.title {
				font-size: 96px;
				line-height: 125px;
				color: #FD9F07;
				-webkit-text-stroke: 0.5px #000;
				text-stroke: 0.5px #000;
				span {
					font-size: 24px;
					-webkit-text-stroke: 0px #000;
					text-stroke: 0px #000;
				    margin-right: 5px;
			        font-weight: 700;
			        font-family: "kyiv-type-serif";
					a {
						color: #000;
						padding: 10px 20px;
						border-radius: 36px;
					}
				}
				span.safu {
					a {
						background: #B955E8;
					}
				}
				span.audit {
					a {
						background: #44CAE8;
					}
				}
				span.kyc {
					a {
						background: #65E844;
					}
				}
			}
			p {
				font-size: 36px;
				line-height: 49px;
				font-family: "kyiv-type-serif";
				font-weight: bold;
			}
		}
		.network-support {
			margin-top: 18px;
			margin-bottom: 71px;
			p {
				font-size: 24px;
				line-height: 134.79%;
				margin-bottom: 94px;
			}
			a {
				img {
					margin-bottom: 27.64px;
				}
			}
			.mobile-view {
				display: none;
			}
		}
		.partners {
			text-align: center;
			margin-bottom: 122px;
			h1.title {
			    font-size: 64px;
			    line-height: 91px;
			    margin-bottom: 46px;
			}
			a {
				margin-right: 60px;
				img {
					width:326px ;
					height:150.08px ;
				}
			}
			a:last-child {
				margin-right: 0;
			}
		}
		.social-area {
			display: flex;
			justify-content: center;
			margin-top: 31px;
			.social-list {
				list-style: none;
				padding-left: 0;
				li {
					margin-right: 70.32px;
					a {
						img {
							width: 42px;
							height: 42px;
						}
					}
					a:hover img {
						transform: scale(1.2);
	  					transition: all 0.5s ease-in-out;
					}
				}
				li:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.air-drop {
		text-align: center;
		padding-top: 72px;
		padding-bottom: 133px;
		h1.title {
			font-size: 64px;
			line-height: 91px;
			margin-bottom: 60px;
		}
		p {
			font-size: 24px;
			line-height: 134.79%;
		    width: 65%;
    		margin: 0 auto;
    		margin-bottom:52px;
		}	
		.token-claimable {
			margin-top: 30px;
			text-align: center;
			span {
				font-size: 64px;
			}
			p {
				font-size: 24px;
				line-height: 134.79%;
				color: #fff;
				margin-bottom: 42px;
				margin-top: 27px;
				text-decoration-line: underline;
				color: #7DC243;
				span {
					font-size: 64px;
					line-height: 91px;
				}
			}
		}
		.process-bar {
			height: 60px;
			border-radius: 63px;
			padding: 6px;
			display: flex;
			align-items: center;
			background: #fff;
		    border: 2px solid transparent;
		    margin-bottom: 64px;
			.progress {
				height: 46px;
				border-radius: 63px;
				width: 100%;
				position: relative;
			    background: #DADADA;
				.bg-success {
					background: url(../images/process-bar-bg.png) center center no-repeat; 
					background-size: cover;		
					border-radius: 63px;			
					z-index: 99;
					font-size: 20.3833px;
					line-height: 29px;
				}
				p.total-claimable {
					position: absolute;
				  	top: 0;
				  	right: 15px;
				 	color: rgba(0, 0, 0, 0.2);
				 	margin-bottom: 0;
				 	text-align: right;
				 	height: 46px;
				    display: flex;
				    align-items: center;
				    justify-content: end;
				    z-index: 1;
				}
			}
		}
		.btn-area {
			margin-bottom: 60px;
			button.btn-home-page {
				background-color: transparent;
				font-size: 30px;
			    padding: 10px;
			    border-radius: 10px;
		        margin-right: 60px;
				border: 0;
			}
			button.btn-home-page:last-of-type {
				margin-right: 0;
			}
		}
	}
	.about-pape {
		text-align: center;
		padding-top: 126px;
		padding-bottom: 139px;
		h1.title {
			font-size: 64px;
			line-height: 91px;
			margin-bottom: 20px;
		}
		.img {
			margin-bottom: 38px;
			img {
				width: 533px;
			}
		}
		.description {
			p {
				font-size: 24px;
				line-height: 180%;
			}
		}
	}
	.tokenomic {
		padding-top: 88px;
		padding-bottom: 132px;
		h1.title {
			font-size: 64px;
			line-height: 91px;
			margin-bottom: 67px;
			text-align: center;
		}
		.info {
			text-align: left;
			h4.title {
				font-size: 36px;
				line-height: 51px;
				color: #FC9230;
				margin-bottom: 28px;
			}
			p {
				font-size: 24px;
				line-height: 134.79%;
			}
		}
		.img {
			margin-bottom: 48px;
			text-align: center;
		}
		.transparency {
			p.info {
				color: #fff;
				span {
					color: #FC9230;
				}
			}
			.img {
				img {
					width: 100%;
				}
			}
			h4.title {
				font-size: 30px;
				line-height: 51px;
				color: #fff;
				margin-bottom: 20px;
				color: #FC9230;
			}
			p {
				font-size: 20px;
				line-height: 134.79%;
				text-align: left;
    			margin: 0 auto;
    			margin-bottom: 28px;
    			color: #264A20;
				span {
					font-weight: bold;
					color: #fff;
					a {
						color: #fff;
					}
					a:hover {
						color: #7DC243;
					}
					button {
						background: transparent;
						color: #00D38E;
						border: 0;
						margin-left: 2px;
					}
					button:hover {
						color: #Fff;
					}
				}
			}
		}
	}
	.tax-and-zeroloss {
		text-align: center;
		padding-top: 120px;
		padding-bottom: 162px;
		h1.title {
			font-size: 64px;
			line-height: 91px;
			margin-bottom: 39px;
		}
		p {
			font-size: 24px;
			line-height: 180%;
			margin-bottom: 94.6px;
		}
		span {
			font-size: 32px;
			line-height: 134.79%;
			color: #FC9230;
		}
		.reason-trust-in-pepe {
			text-align: left;
			p {
				font-family: "kyiv-type-serif";
				font-size: 24px;
				line-height: 134.79%;
				margin-bottom: 0;
			}
			.reason-1 {
				background: #FD9F07;
				border: 5px solid #FFFFFF;
				border-radius: 0px 40px;
				margin-bottom: 30px;
				display: flex;
				align-items: center;
    			.img {
    				flex: 0 0 auto;
    				margin-right: 20px;
    				img {
    					width: 108px;
    					height: 128px;
    				}
    			}
    			.description {
    				padding: 16px;
				    flex: 1;
				    p {
				    	font-family: 'Lemon', cursive;
				    }
				    p.text-1 {
			    		background: #FFFFFF;
						border-radius: 45px;
						font-size: 24px;
						line-height: 134.79%;
						color: #E44E2E;
						margin-bottom: 22px;
						padding: 6px 20px;
				    }
				    p.text-2 {
				    	background: #FFFFFF;
						border-radius: 45px;
						color: #366DFF;
						font-size: 24px;
						line-height: 134.79%;
						margin-bottom: 0;
						width: fit-content;
						padding: 20px;
				    }
				}
			}
			.reason-2 {
				background: #01A3D9;
				border: 5px solid #FFFFFF;
				border-radius: 0px 40px;
				margin-bottom: 30px;
    			display: flex;
				align-items: center;
    			.img {
    				flex: 0 0 auto;
    				margin-left: 20px;
    				img {
    					width: 108px;
    					height: 128px;
    				}
    			}
    			.description {
    				padding: 16px;
				    flex: 1;
				    p {
				    	font-family: 'Lemon', cursive;
				    }
				    p.text-1 {
			    		background: #FFFFFF;
						border-radius: 45px;
						font-size: 24px;
						line-height: 134.79%;
						color: #E44E2E;
						margin-bottom: 22px;
						padding: 6px 20px;
				    }
				    p.text-2 {
				    	background: #FFFFFF;
						border-radius: 45px;
						color: #366DFF;
						font-size: 24px;
						line-height: 134.79%;
						margin-bottom: 0;
						width: fit-content;
						padding: 20px;
					    float: right;
				    }
				}
			}
		}
	}
	.how-to-get-in {
		padding-top: 228px;
		padding-bottom: 176px;
		.way-to-get-in {
			background: #1D5614;
			border: 5px solid #FFFFFF;
			border-radius: 40px;
			width: 58%;
    		margin: 0 auto;
    		position: relative;
    		padding: 79px 65px;
    		padding-top: 115px;
    		text-align: center;
    		img.tips {
    			position: absolute;
    			left: 50%;
			    top: -22px;
			    transform: translate(-50%, -50%);
    		}
    		p.tips {
    			transform:rotate(-25deg);
    			color: #FD9F07;
    			-webkit-text-stroke: 4px #000;
				 text-stroke: 4px #000;
				 font-size: 55.028px;
				line-height: 72px;
			    position: absolute;
			    top: -36px;
			    left: -55px;
    		}
    		h1.title {
    			text-align: center;
    			font-size: 62px;
				line-height: 84px;
				margin-bottom: 64px;
    		}
    		.three-way {
    			font-family: "kyiv-type-serif";
    			.way {
    				display: flex;
					align-items: center;
					margin-bottom: 41px;
					.img {
						flex: 0 0 auto;
						margin-right: 51px;
						img {
							width: 116px;
							height: 116px;
						}
					}
    				.description {
    					text-align: left;
    					p {
    						font-weight: bold;
    						margin-bottom: 10px;
    						font-size: 24px;
							line-height: 134.79%;
    					}
    					span {
    						font-size: 20px;
							line-height: 134.79%;
    					}
    				}
    			}
    		}
		}
	}
	.road-map {
		padding-top: 87px;
		padding-bottom: 110px;
		h1.title {
			font-size: 64px;
			line-height: 91px;
			margin-bottom: 49px;
			text-align: center;
		}
		p {
			font-size: 24px;
			line-height: 134.79%;
		}
		.road-map-info {
			.phases {
			  	background: #1D5614;
				border: 5px solid #FFFFFF;
				border-radius: 0px 40px;
				padding: 32px;
				flex-grow: 1;
				p {
					margin-top: 0;
					text-align: left;
					margin-bottom: 15px;
				}
			}
			p {
				margin-top: 52px;
				font-size: 24px;
				line-height: 134.79%;
				text-align: center;
				margin-bottom: 36px;
			}
			.phase {
				.phase-item {
					background: #1D5614;
					border: 5px solid #FFFFFF;
					border-radius: 0px 40px;
					padding: 30px 30px;
					h4.title {
						font-size: 36px;
						line-height: 198.6%;
					}
					ul {
						 padding-left: 16px;
						 li {
						 	font-family: "kyiv-type-serif";
						 	font-size: 24px;
							line-height: 134.79%;
						 }
					}
				}
			}
		}
	}
	.about-pepechain-and-pepe-coin {
		padding-top: 166px;
		padding-bottom: 100px;
		.pepe-chain-ai , .pepe-coin {
			text-align: center;
			h4.title {
				font-size: 48px;
				line-height: 63px;
				margin-bottom: 69px;
			}
			img {
				margin-bottom: 64px;
			}
			p {
				font-size: 24px;
				line-height: 134.79%;
			}
		}
	}
}