@media screen and (min-width: 1200px){
  .container-1{
    max-width: 1300px;
  }
  .container-2{
    max-width: 1170px;
  }
}

@media screen and (max-width: 1630px){
  #header nav .menu-header {
    background: url(../images/menu-header-bg-small.png) center center no-repeat;
  }
  #header nav .menu-header li a {
    font-size: 13px;
  }
}
@media screen and (max-width: 1370px){
  #header nav .menu-header {
    background: url(../images/menu-header-bg-small.png) left center no-repeat;
    justify-content: start;
    padding: 10px;
  }
  #header .logo img {
    max-width: 100%;
  }
}
@media screen and (max-width: 991px){
  
  #header {
    padding: 10px 0;
    position: unset;
    .navbar-toggler {
      color: #fff;
      margin-right: 10px;
      position: absolute;
      right: 0;
    }
  }
  #header nav .menu-header {
    height: auto;
    background: unset;
  }
  #header nav .menu-header li {
    margin-left: 0;
  }
  footer {
    position: unset;
    .navbar-toggler {
      position: absolute;
      left: 0;
      color: #9C9AF4;
    }
  }
  .footer{
    .navbar-expand-lg{
      .navbar-nav.menu-footer{
        padding: 20px 0 0 0;
        .nav-item{
          margin: 24px 0 0 0;
        }
      }
    } 
  }
  .header{
    background: transparent;
    .navbar-expand-lg{
      .navbar-nav.menu-header{
        padding: 20px 0 0 0;
        .nav-item{
          margin: 24px 0 0 0;
        }
      }
      .navbar-nav.menu-header-swap{
        background: transparent;
        padding: 20px 0 0 0;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
        .nav-item{
          margin: 0 2px;
        }
        .nav-link{
          width: 100%;
          text-align: left;
          padding: 6px 10px;
        }
      }
    } 
  }
  .home-page .top-home-page {
    padding: 10px 0 20px;
    .img {
      text-align: center;
    }
  }
  .network-support {
    text-align: center;
  }
  .home-page .top-home-page .network-support p {
    font-size: 14px;
    margin-bottom: 47px;
  }
  .home-page .air-drop p {
    margin-bottom: 10px;
  }
  .home-page .air-drop {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-page .air-drop .token-claimable {
    margin-top: 10px;
  }
  .home-page .air-drop .token-claimable p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .home-page .air-drop .token-claimable p span {
    font-size: 14px;
  }
  .home-page .air-drop .process-bar {
    margin-bottom: 20px;
  }
  .home-page .air-drop .btn-area {
    margin-bottom: 20px;
  }
  .home-page .tokenomic .transparency p {
    width: auto;
    span {
      word-break: break-all;
    }
  }
  .home-page .air-drop .process-bar .progress .bg-success {
      background: url(../images/process-bar-bg-mobile.png) center center no-repeat;
  }
  .home-page .air-drop .process-bar .progress p.total-claimable {
    font-size: 14px;
  }
  .home-page .air-drop .process-bar .progress .bg-success {
    font-size: 14px;
  }
  .home-page .about-pape .description p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .home-page .about-pape .about-us {
    margin-bottom: 40px;
  }
  .home-page .about-pape h1.title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .home-page .top-home-page .info h1.title {
    font-size: 40px;
    line-height: 40px;
  }
  .home-page .top-home-page .info p {
    font-size: 14px;
    line-height: 20px;
  }
  .home-page .air-drop p {
    font-size: 14px;
  }
  .home-page .tokenomic .info {
    margin-top: 20px;
    text-align: center;
  }
  .home-page .tokenomic .info h4.title {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  .home-page .tokenomic .info p {
    font-size: 14px;
  }
  .home-page .tax-and-zeroloss {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .home-page .tax-and-zeroloss h1.title {
    font-size: 40px;
    line-height: 40px;
  }
  .home-page .tax-and-zeroloss p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .home-page .tax-and-zeroloss span {
    font-size: 14px;
  }
  .home-page .road-map h1.title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .home-page .road-map .road-map-info .phase p {
    font-size: 14px
  }
  .home-page .road-map .road-map-info .direction p {
    font-size: 14px;
  }
  .home-page .tokenomic .transparency p {
    font-size: 14px;
  }
  .home-page .tokenomic h1.title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .home-page .air-drop h1.title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .home-page .road-map .road-map-info .direction {
    text-align: left!important;
    margin-top: 20px;
  }
  .home-page .road-map .road-map-info .direction p::before {
    content: "\2022"; 
    margin-right: 0.5em; 
  }
  footer .social-area {
    display: none;
  }
  .home-page .about-pape {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-page .tokenomic {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-page .tokenomic .row {
    margin-bottom: 20px!important;
  }
  .home-page .tokenomic .transparency p {
    text-align: center;
  }
  .home-page .tokenomic .img {
    margin-bottom: 0;
  }
  .home-page .tax-and-zeroloss .transparency .row {
    margin-bottom: 20px!important;
    margin-top: 20px!important;
  }
  .home-page .air-drop .token-claimable span {
    font-size: 20px;
  }
  .home-page .air-drop .token-claimable p {
    margin-top: 10px;
  }
  .home-page .tokenomic .transparency h4.title {
    font-size: 15px;
    line-height: 17px;
    text-align: center;
  }
  .home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 {
    margin-bottom: 20px;
  }
  .home-page .tax-and-zeroloss .reason-trust-in-pepe p {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
  }
  .home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 .description p.text-1 {
    font-size: 9px;
    padding: 3px 6px;
    border-radius: 10px;
  }
  .home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-2 .description p.text-1 {
    font-size: 9px;
    padding: 3px 6px;
    border-radius: 10px;
  }
  .home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 .description p.text-2 {
    font-size: 9px;
    padding: 3px 6px;
    border-radius: 10px;
  }
  .home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-2 .description p.text-2 {
    font-size: 9px;
    padding: 3px 6px;
    border-radius: 10px;
  }
  .home-page .how-to-get-in {
    padding-bottom: 20px;
    padding-top: 90px;
  }
  .home-page .how-to-get-in .way-to-get-in {
    width: 100%;
    padding: 40px 20px;
  }
  .home-page .how-to-get-in .way-to-get-in img.tips {
    width: 100px;
  }
  .home-page .how-to-get-in .way-to-get-in p.tips {
    font-size: 30px;
    left: -37px;
    -webkit-text-stroke : 0.5px #000;
    text-stroke : 0.5px #000;
  }
  .home-page .how-to-get-in .way-to-get-in .three-way .way {
    display: block;
  }
  .home-page .how-to-get-in .way-to-get-in .three-way .way .img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .home-page .how-to-get-in .way-to-get-in h1.title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .home-page .road-map {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .home-page .road-map .road-map-info .phases {
    padding: 16px;
  }
  .home-page .road-map .road-map-info .phase .phase-item {
    padding: 16px;
    margin-bottom: 15px;
  }
  .home-page .about-pepechain-and-pepe-coin {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .home-page .about-pepechain-and-pepe-coin .pepe-chain-ai {
    margin-bottom: 40px;
  }
  .home-page .about-pepechain-and-pepe-coin .pepe-chain-ai h4.title, .home-page .about-pepechain-and-pepe-coin .pepe-coin h4.title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .home-page .about-pepechain-and-pepe-coin .pepe-chain-ai img, .home-page .about-pepechain-and-pepe-coin .pepe-coin img {
    margin-bottom: 20px;
  }
  .home-page .about-pepechain-and-pepe-coin .pepe-chain-ai p, .home-page .about-pepechain-and-pepe-coin .pepe-coin p {
    font-size: 14px;
    line-height: 14px;
  }
  .home-page .road-map .road-map-info .phase .phase-item h4.title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .home-page .road-map .road-map-info .phase .phase-item ul {
    list-style: none;
    text-align: center;
  }
  .home-page .road-map .road-map-info .phase .phase-item ul li {
    font-size: 14px;
  }
  .home-page .road-map .road-map-info p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .home-page .top-home-page .img img {
      max-width: 240px
  }
  .home-page .top-home-page .network-support .pc-view {
    display: none;
  }
  .home-page .top-home-page .network-support .mobile-view {
    display: flex;
  }
  .home-page .top-home-page .network-support a img {
    max-width: 120px;
  }
  .home-page .road-map .road-map-info img {
    display: none;
  }
  .home-page .how-to-get-in .way-to-get-in .three-way .way .description {
    text-align: center;
  }
  .home-page .top-home-page .social-area {
    justify-content: unset;
  }
  .home-page .top-home-page .social-area .social-list li {
    margin-right: 50.32px;
  }
  footer .contact-us img {
    display: none;
  }
  footer {
    padding: 20px 0;
    text-align: center;
    .footer-item {
      width: 100%;
    }
  }
  footer .contact-us h1.title {
    font-size: 30px;
    line-height: 30px;
  }
  footer .contact-us p {
    font-size: 14px;
  }
  footer .contact-us {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 893px) {
  .home-page .air-drop .btn-area button.btn-home-page {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 515px){
  
}