@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
* {
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

@font-face {
  font-family: "kyiv-type-serif";
  src: url("../fonts/kyiv-type-serif.woff") format("woff");
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-family: "Lemon", cursive;
  background-color: #4B9540;
}

img {
  max-width: 100%;
}

a {
  color: #424242;
  text-decoration: none;
}

a:hover {
  color: #00D38E;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.cursor-pointer {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.container-fluid {
  padding: 0 314px;
}

.color-1 {
  color: #7C809D;
}

.color-2 {
  color: #9799AD;
}

.color-down {
  color: #D13B3B;
}

.color-up {
  color: #33C600;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-700 {
  font-weight: 700;
}

.mb-2 {
  margin-bottom: 2px;
}

.mt-2 {
  margin-top: 2px;
}

.mr-2 {
  margin-right: 2px;
}

.ml-2 {
  margin-left: 2px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pt-2 {
  padding-top: 2px;
}

.pr-2 {
  padding-right: 2px;
}

.pl-2 {
  padding-left: 2px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-6 {
  margin-top: 6px;
}

.mr-6 {
  margin-right: 6px;
}

.ml-6 {
  margin-left: 6px;
}

.pb-6 {
  padding-bottom: 6px;
}

.pt-6 {
  padding-top: 6px;
}

.pr-6 {
  padding-right: 6px;
}

.pl-6 {
  padding-left: 6px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mt-14 {
  margin-top: 14px;
}

.mr-14 {
  margin-right: 14px;
}

.ml-14 {
  margin-left: 14px;
}

.pb-14 {
  padding-bottom: 14px;
}

.pt-14 {
  padding-top: 14px;
}

.pr-14 {
  padding-right: 14px;
}

.pl-14 {
  padding-left: 14px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.mb-21 {
  margin-bottom: 21px;
}

.mt-21 {
  margin-top: 21px;
}

.mr-21 {
  margin-right: 21px;
}

.ml-21 {
  margin-left: 21px;
}

.pb-21 {
  padding-bottom: 21px;
}

.pt-21 {
  padding-top: 21px;
}

.pr-21 {
  padding-right: 21px;
}

.pl-21 {
  padding-left: 21px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mt-22 {
  margin-top: 22px;
}

.mr-22 {
  margin-right: 22px;
}

.ml-22 {
  margin-left: 22px;
}

.pb-22 {
  padding-bottom: 22px;
}

.pt-22 {
  padding-top: 22px;
}

.pr-22 {
  padding-right: 22px;
}

.pl-22 {
  padding-left: 22px;
}

.mb-26 {
  margin-bottom: 26px;
}

.mt-26 {
  margin-top: 26px;
}

.mr-26 {
  margin-right: 26px;
}

.ml-26 {
  margin-left: 26px;
}

.pb-26 {
  padding-bottom: 26px;
}

.pt-26 {
  padding-top: 26px;
}

.pr-26 {
  padding-right: 26px;
}

.pl-26 {
  padding-left: 26px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.f-18 {
  font-size: 18px;
  line-height: 28px;
}

.f-14 {
  font-size: 14px;
  line-height: 18px;
}

.f-12 {
  font-size: 12px;
  line-height: 16px;
}

@media screen and (min-width: 1200px) {
  .container-1 {
    max-width: 1300px;
  }
  .container-2 {
    max-width: 1170px;
  }
  .container-3 {
    max-width: 750px;
  }
  .row-asset {
    margin: 0 -40px;
  }
  .row-asset .col-asset {
    padding: 0 40px;
  }
}
#header {
  padding: 61px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
#header .container-fluid {
  padding: 0 100px;
}
#header .logo {
  position: relative;
}
#header .logo h1 {
  font-size: 78px;
  position: absolute;
  top: 16px;
  right: -135px;
}
#header .logo img {
  max-width: 230px;
}
#header nav .menu-header {
  background: url(../images/menu-header-bg.png) center center no-repeat;
  width: 781px;
  height: 77px;
  justify-content: center;
}
#header nav .menu-header li {
  margin-left: 33px;
}
#header nav .menu-header li a {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
}
#header nav .menu-header li a:hover {
  color: #7DC243;
}
#header nav .menu-header li:first-child {
  margin-left: 0;
}
#header nav .user-action .wrap-user-acct a {
  background: url(../images/user-wallet-bg.png) center center no-repeat;
  background-size: cover;
  width: 248px;
  height: 64px;
  display: flex;
  padding-left: 20px;
  cursor: pointer;
}
#header nav .user-action .wrap-user-acct a span.user-acct {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}
#header nav .user-action .wrap-user-btn .btn-connect-wallet {
  background: url(../images/btn-connect-wallet.png) center center no-repeat;
  background-size: cover;
  width: 248px;
  height: 64px;
}

footer {
  padding: 67px 0;
}
footer .contact-us {
  text-align: center;
}
footer .contact-us img {
  margin-bottom: 28px;
}
footer .contact-us h1.title {
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 30px;
}
footer .contact-us p {
  font-size: 24px;
  line-height: 134.79%;
  margin-bottom: 18px;
}
footer .contact-us button.btn-contact-us {
  background: #00A4D9;
  border-radius: 34px;
  font-family: "kyiv-type-serif";
  padding: 10px 20px;
  color: #fff;
  box-shadow: unset;
  border: 0;
}
footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer nav .menu-footer li {
  margin-left: 60px;
}
footer nav .menu-footer li a {
  color: #000;
}
footer nav .menu-footer li a:hover {
  color: #9C9AF4;
}
footer nav .menu-footer li:first-child {
  margin-left: 0;
}
footer .social-area ul.social-list {
  list-style: none;
  margin-bottom: 0;
}
footer .social-area ul.social-list li {
  margin-left: 40px;
}
footer .social-area ul.social-list li a img {
  width: 42px;
  height: 42px;
}
footer .social-area ul.social-list li:first-child {
  margin-left: 0;
}

.home-page .boder-section img {
  width: 100%;
}
.home-page .top-home-page {
  padding: 223px 0 106px 0;
}
.home-page .top-home-page .info {
  color: #fff;
}
.home-page .top-home-page .info h1.title {
  font-size: 96px;
  line-height: 125px;
  color: #FD9F07;
  -webkit-text-stroke: 0.5px #000;
  text-stroke: 0.5px #000;
}
.home-page .top-home-page .info p {
  font-size: 36px;
  line-height: 49px;
  font-family: "kyiv-type-serif";
  font-weight: bold;
}
.home-page .top-home-page .network-support {
  margin-top: 18px;
}
.home-page .top-home-page .network-support p {
  font-size: 24px;
  line-height: 134.79%;
  margin-bottom: 94px;
}
.home-page .top-home-page .network-support a img {
  margin-bottom: 27.64px;
}
.home-page .top-home-page .network-support .mobile-view {
  display: none;
}
.home-page .top-home-page .social-area {
  display: flex;
  justify-content: center;
  margin-top: 31px;
}
.home-page .top-home-page .social-area .social-list {
  list-style: none;
}
.home-page .top-home-page .social-area .social-list li {
  margin-right: 70.32px;
}
.home-page .top-home-page .social-area .social-list li a img {
  width: 42px;
  height: 42px;
}
.home-page .top-home-page .social-area .social-list li a:hover img {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
.home-page .top-home-page .social-area .social-list li:last-child {
  margin-right: 0;
}
.home-page .air-drop {
  text-align: center;
  padding-top: 72px;
  padding-bottom: 133px;
}
.home-page .air-drop h1.title {
  font-size: 64px;
  line-height: 91px;
  margin-bottom: 60px;
}
.home-page .air-drop p {
  font-size: 24px;
  line-height: 134.79%;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 52px;
}
.home-page .air-drop .token-claimable {
  margin-top: 30px;
  text-align: center;
}
.home-page .air-drop .token-claimable span {
  font-size: 64px;
}
.home-page .air-drop .token-claimable p {
  font-size: 24px;
  line-height: 134.79%;
  color: #fff;
  margin-bottom: 42px;
  margin-top: 27px;
  text-decoration-line: underline;
  color: #7DC243;
}
.home-page .air-drop .token-claimable p span {
  font-size: 64px;
  line-height: 91px;
}
.home-page .air-drop .process-bar {
  height: 60px;
  border-radius: 63px;
  padding: 6px;
  display: flex;
  align-items: center;
  background: #fff;
  border: 2px solid transparent;
  margin-bottom: 64px;
}
.home-page .air-drop .process-bar .progress {
  height: 46px;
  border-radius: 63px;
  width: 100%;
  position: relative;
  background: #DADADA;
}
.home-page .air-drop .process-bar .progress .bg-success {
  background: url(../images/process-bar-bg.png) center center no-repeat;
  background-size: cover;
  border-radius: 63px;
  z-index: 99;
  font-size: 20.3833px;
  line-height: 29px;
}
.home-page .air-drop .process-bar .progress p.total-claimable {
  position: absolute;
  top: 0;
  right: 15px;
  color: rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  text-align: right;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 1;
}
.home-page .air-drop .btn-area {
  margin-bottom: 60px;
}
.home-page .air-drop .btn-area button.btn-home-page {
  background-color: transparent;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 60px;
  border: 0;
}
.home-page .air-drop .btn-area button.btn-home-page:last-of-type {
  margin-right: 0;
}
.home-page .about-pape {
  text-align: center;
  padding-top: 126px;
  padding-bottom: 139px;
}
.home-page .about-pape h1.title {
  font-size: 64px;
  line-height: 91px;
  margin-bottom: 80px;
}
.home-page .about-pape .img {
  margin-bottom: 38px;
}
.home-page .about-pape .img img {
  width: 533px;
}
.home-page .about-pape .description p {
  font-size: 24px;
  line-height: 180%;
}
.home-page .tokenomic {
  padding-top: 88px;
  padding-bottom: 132px;
}
.home-page .tokenomic h1.title {
  font-size: 64px;
  line-height: 91px;
  margin-bottom: 67px;
  text-align: center;
}
.home-page .tokenomic .info {
  text-align: left;
}
.home-page .tokenomic .info h4.title {
  font-size: 36px;
  line-height: 51px;
  color: #FC9230;
  margin-bottom: 28px;
}
.home-page .tokenomic .info p {
  font-size: 24px;
  line-height: 134.79%;
}
.home-page .tokenomic .img {
  margin-bottom: 48px;
  text-align: center;
}
.home-page .tokenomic .transparency p.info {
  color: #fff;
}
.home-page .tokenomic .transparency p.info span {
  color: #FC9230;
}
.home-page .tokenomic .transparency .img img {
  width: 100%;
}
.home-page .tokenomic .transparency h4.title {
  font-size: 30px;
  line-height: 51px;
  color: #fff;
  margin-bottom: 20px;
  color: #FC9230;
}
.home-page .tokenomic .transparency p {
  font-size: 20px;
  line-height: 134.79%;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 28px;
  color: #264A20;
}
.home-page .tokenomic .transparency p span {
  font-weight: bold;
  color: #fff;
}
.home-page .tokenomic .transparency p span a {
  color: #fff;
}
.home-page .tokenomic .transparency p span a:hover {
  color: #7DC243;
}
.home-page .tokenomic .transparency p span button {
  background: transparent;
  color: #00D38E;
  border: 0;
  margin-left: 2px;
}
.home-page .tokenomic .transparency p span button:hover {
  color: #Fff;
}
.home-page .tax-and-zeroloss {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 162px;
}
.home-page .tax-and-zeroloss h1.title {
  font-size: 64px;
  line-height: 91px;
  margin-bottom: 39px;
}
.home-page .tax-and-zeroloss p {
  font-size: 24px;
  line-height: 180%;
  margin-bottom: 94.6px;
}
.home-page .tax-and-zeroloss span {
  font-size: 32px;
  line-height: 134.79%;
  color: #FC9230;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe {
  text-align: left;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe p {
  font-family: "kyiv-type-serif";
  font-size: 24px;
  line-height: 134.79%;
  margin-bottom: 0;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 {
  background: #FD9F07;
  border: 5px solid #FFFFFF;
  border-radius: 0px 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 .img {
  flex: 0 0 auto;
  margin-right: 20px;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 .img img {
  width: 108px;
  height: 128px;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 .description {
  padding: 16px;
  flex: 1;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 .description p {
  font-family: "Lemon", cursive;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 .description p.text-1 {
  background: #FFFFFF;
  border-radius: 45px;
  font-size: 24px;
  line-height: 134.79%;
  color: #E44E2E;
  margin-bottom: 22px;
  padding: 6px 20px;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 .description p.text-2 {
  background: #FFFFFF;
  border-radius: 45px;
  color: #366DFF;
  font-size: 24px;
  line-height: 134.79%;
  margin-bottom: 0;
  width: fit-content;
  padding: 20px;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-2 {
  background: #01A3D9;
  border: 5px solid #FFFFFF;
  border-radius: 0px 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-2 .img {
  flex: 0 0 auto;
  margin-left: 20px;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-2 .img img {
  width: 108px;
  height: 128px;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-2 .description {
  padding: 16px;
  flex: 1;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-2 .description p {
  font-family: "Lemon", cursive;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-2 .description p.text-1 {
  background: #FFFFFF;
  border-radius: 45px;
  font-size: 24px;
  line-height: 134.79%;
  color: #E44E2E;
  margin-bottom: 22px;
  padding: 6px 20px;
}
.home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-2 .description p.text-2 {
  background: #FFFFFF;
  border-radius: 45px;
  color: #366DFF;
  font-size: 24px;
  line-height: 134.79%;
  margin-bottom: 0;
  width: fit-content;
  padding: 20px;
  float: right;
}
.home-page .how-to-get-in {
  padding-top: 228px;
  padding-bottom: 176px;
}
.home-page .how-to-get-in .way-to-get-in {
  background: #1D5614;
  border: 5px solid #FFFFFF;
  border-radius: 40px;
  width: 58%;
  margin: 0 auto;
  position: relative;
  padding: 79px 65px;
  padding-top: 115px;
  text-align: center;
}
.home-page .how-to-get-in .way-to-get-in img.tips {
  position: absolute;
  left: 50%;
  top: -22px;
  transform: translate(-50%, -50%);
}
.home-page .how-to-get-in .way-to-get-in p.tips {
  transform: rotate(-25deg);
  color: #FD9F07;
  -webkit-text-stroke: 4px #000;
  text-stroke: 4px #000;
  font-size: 55.028px;
  line-height: 72px;
  position: absolute;
  top: -36px;
  left: -55px;
}
.home-page .how-to-get-in .way-to-get-in h1.title {
  text-align: center;
  font-size: 62px;
  line-height: 84px;
  margin-bottom: 64px;
}
.home-page .how-to-get-in .way-to-get-in .three-way {
  font-family: "kyiv-type-serif";
}
.home-page .how-to-get-in .way-to-get-in .three-way .way {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}
.home-page .how-to-get-in .way-to-get-in .three-way .way .img {
  flex: 0 0 auto;
  margin-right: 51px;
}
.home-page .how-to-get-in .way-to-get-in .three-way .way .img img {
  width: 116px;
  height: 116px;
}
.home-page .how-to-get-in .way-to-get-in .three-way .way .description {
  text-align: left;
}
.home-page .how-to-get-in .way-to-get-in .three-way .way .description p {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 134.79%;
}
.home-page .how-to-get-in .way-to-get-in .three-way .way .description span {
  font-size: 20px;
  line-height: 134.79%;
}
.home-page .road-map {
  padding-top: 87px;
  padding-bottom: 110px;
}
.home-page .road-map h1.title {
  font-size: 64px;
  line-height: 91px;
  margin-bottom: 49px;
  text-align: center;
}
.home-page .road-map p {
  font-size: 24px;
  line-height: 134.79%;
}
.home-page .road-map .road-map-info .phases {
  background: #1D5614;
  border: 5px solid #FFFFFF;
  border-radius: 0px 40px;
  padding: 32px;
  flex-grow: 1;
}
.home-page .road-map .road-map-info .phases p {
  margin-top: 0;
  text-align: left;
  margin-bottom: 15px;
}
.home-page .road-map .road-map-info p {
  margin-top: 52px;
  font-size: 24px;
  line-height: 134.79%;
  text-align: center;
  margin-bottom: 36px;
}
.home-page .road-map .road-map-info .phase .phase-item {
  background: #1D5614;
  border: 5px solid #FFFFFF;
  border-radius: 0px 40px;
  padding: 30px 30px;
}
.home-page .road-map .road-map-info .phase .phase-item h4.title {
  font-size: 36px;
  line-height: 198.6%;
}
.home-page .road-map .road-map-info .phase .phase-item ul {
  padding-left: 16px;
}
.home-page .road-map .road-map-info .phase .phase-item ul li {
  font-family: "kyiv-type-serif";
  font-size: 24px;
  line-height: 134.79%;
}
.home-page .about-pepechain-and-pepe-coin {
  padding-top: 166px;
  padding-bottom: 100px;
}
.home-page .about-pepechain-and-pepe-coin .pepe-chain-ai, .home-page .about-pepechain-and-pepe-coin .pepe-coin {
  text-align: center;
}
.home-page .about-pepechain-and-pepe-coin .pepe-chain-ai h4.title, .home-page .about-pepechain-and-pepe-coin .pepe-coin h4.title {
  font-size: 48px;
  line-height: 63px;
  margin-bottom: 69px;
}
.home-page .about-pepechain-and-pepe-coin .pepe-chain-ai img, .home-page .about-pepechain-and-pepe-coin .pepe-coin img {
  margin-bottom: 64px;
}
.home-page .about-pepechain-and-pepe-coin .pepe-chain-ai p, .home-page .about-pepechain-and-pepe-coin .pepe-coin p {
  font-size: 24px;
  line-height: 134.79%;
}

@media screen and (min-width: 1200px) {
  .container-1 {
    max-width: 1300px;
  }
  .container-2 {
    max-width: 1170px;
  }
}
@media screen and (max-width: 991px) {
  #header {
    padding: 10px 0;
    position: unset;
  }
  #header .navbar-toggler {
    color: #fff;
    margin-right: 10px;
  }
  #header nav .menu-header {
    height: auto;
    background: unset;
  }
  #header nav .menu-header li {
    margin-left: 0;
  }
  footer {
    position: unset;
  }
  footer .navbar-toggler {
    position: absolute;
    left: 0;
    color: #9C9AF4;
  }
  .footer .navbar-expand-lg .navbar-nav.menu-footer {
    padding: 20px 0 0 0;
  }
  .footer .navbar-expand-lg .navbar-nav.menu-footer .nav-item {
    margin: 24px 0 0 0;
  }
  .header {
    background: transparent;
  }
  .header .navbar-expand-lg .navbar-nav.menu-header {
    padding: 20px 0 0 0;
  }
  .header .navbar-expand-lg .navbar-nav.menu-header .nav-item {
    margin: 24px 0 0 0;
  }
  .header .navbar-expand-lg .navbar-nav.menu-header-swap {
    background: transparent;
    padding: 20px 0 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .header .navbar-expand-lg .navbar-nav.menu-header-swap .nav-item {
    margin: 0 2px;
  }
  .header .navbar-expand-lg .navbar-nav.menu-header-swap .nav-link {
    width: 100%;
    text-align: left;
    padding: 6px 10px;
  }
  .home-page .top-home-page {
    padding: 10px 0 20px;
  }
  .home-page .top-home-page .img {
    text-align: center;
  }
  .network-support {
    text-align: center;
  }
  .home-page .top-home-page .network-support p {
    font-size: 14px;
    margin-bottom: 47px;
  }
  .home-page .air-drop p {
    margin-bottom: 10px;
  }
  .home-page .air-drop {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-page .air-drop .token-claimable {
    margin-top: 10px;
  }
  .home-page .air-drop .token-claimable p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .home-page .air-drop .token-claimable p span {
    font-size: 14px;
  }
  .home-page .air-drop .process-bar {
    margin-bottom: 20px;
  }
  .home-page .air-drop .btn-area {
    margin-bottom: 20px;
  }
  .home-page .tokenomic .transparency p {
    width: auto;
  }
  .home-page .tokenomic .transparency p span {
    word-break: break-all;
  }
  .home-page .air-drop .process-bar .progress .bg-success {
    background: url(../images/process-bar-bg-mobile.png) center center no-repeat;
  }
  .home-page .air-drop .process-bar .progress p.total-claimable {
    font-size: 14px;
  }
  .home-page .air-drop .process-bar .progress .bg-success {
    font-size: 14px;
  }
  .home-page .about-pape .description p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .home-page .about-pape .about-us {
    margin-bottom: 40px;
  }
  .home-page .about-pape h1.title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .home-page .top-home-page .info h1.title {
    font-size: 40px;
    line-height: 40px;
  }
  .home-page .top-home-page .info p {
    font-size: 14px;
    line-height: 20px;
  }
  .home-page .air-drop p {
    font-size: 14px;
  }
  .home-page .tokenomic .info {
    margin-top: 20px;
    text-align: center;
  }
  .home-page .tokenomic .info h4.title {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  .home-page .tokenomic .info p {
    font-size: 14px;
  }
  .home-page .tax-and-zeroloss {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .home-page .tax-and-zeroloss h1.title {
    font-size: 40px;
    line-height: 40px;
  }
  .home-page .tax-and-zeroloss p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .home-page .tax-and-zeroloss span {
    font-size: 14px;
  }
  .home-page .road-map h1.title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .home-page .road-map .road-map-info .phase p {
    font-size: 14px;
  }
  .home-page .road-map .road-map-info .direction p {
    font-size: 14px;
  }
  .home-page .tokenomic .transparency p {
    font-size: 14px;
  }
  .home-page .tokenomic h1.title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .home-page .air-drop h1.title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .home-page .road-map .road-map-info .direction {
    text-align: left !important;
    margin-top: 20px;
  }
  .home-page .road-map .road-map-info .direction p::before {
    content: "•";
    margin-right: 0.5em;
  }
  footer .social-area {
    display: none;
  }
  .home-page .about-pape {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-page .tokenomic {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-page .tokenomic .row {
    margin-bottom: 20px !important;
  }
  .home-page .tokenomic .transparency p {
    text-align: center;
  }
  .home-page .tokenomic .img {
    margin-bottom: 0;
  }
  .home-page .tax-and-zeroloss .transparency .row {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }
  .home-page .air-drop .token-claimable span {
    font-size: 20px;
  }
  .home-page .air-drop .token-claimable p {
    margin-top: 10px;
  }
  .home-page .tokenomic .transparency h4.title {
    font-size: 15px;
    line-height: 17px;
    text-align: center;
  }
  .home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 {
    margin-bottom: 20px;
  }
  .home-page .tax-and-zeroloss .reason-trust-in-pepe p {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
  }
  .home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 .description p.text-1 {
    font-size: 9px;
    padding: 3px 6px;
    border-radius: 10px;
  }
  .home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-2 .description p.text-1 {
    font-size: 9px;
    padding: 3px 6px;
    border-radius: 10px;
  }
  .home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-1 .description p.text-2 {
    font-size: 9px;
    padding: 3px 6px;
    border-radius: 10px;
  }
  .home-page .tax-and-zeroloss .reason-trust-in-pepe .reason-2 .description p.text-2 {
    font-size: 9px;
    padding: 3px 6px;
    border-radius: 10px;
  }
  .home-page .how-to-get-in {
    padding-bottom: 20px;
    padding-top: 90px;
  }
  .home-page .how-to-get-in .way-to-get-in {
    width: 100%;
    padding: 40px 20px;
  }
  .home-page .how-to-get-in .way-to-get-in img.tips {
    width: 100px;
  }
  .home-page .how-to-get-in .way-to-get-in p.tips {
    font-size: 30px;
    left: -37px;
    -webkit-text-stroke: 0.5px #000;
    text-stroke: 0.5px #000;
  }
  .home-page .how-to-get-in .way-to-get-in .three-way .way {
    display: block;
  }
  .home-page .how-to-get-in .way-to-get-in .three-way .way .img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .home-page .how-to-get-in .way-to-get-in h1.title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .home-page .road-map {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .home-page .road-map .road-map-info .phases {
    padding: 16px;
  }
  .home-page .road-map .road-map-info .phase .phase-item {
    padding: 16px;
    margin-bottom: 15px;
  }
  .home-page .about-pepechain-and-pepe-coin {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .home-page .about-pepechain-and-pepe-coin .pepe-chain-ai {
    margin-bottom: 40px;
  }
  .home-page .about-pepechain-and-pepe-coin .pepe-chain-ai h4.title, .home-page .about-pepechain-and-pepe-coin .pepe-coin h4.title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .home-page .about-pepechain-and-pepe-coin .pepe-chain-ai img, .home-page .about-pepechain-and-pepe-coin .pepe-coin img {
    margin-bottom: 20px;
  }
  .home-page .about-pepechain-and-pepe-coin .pepe-chain-ai p, .home-page .about-pepechain-and-pepe-coin .pepe-coin p {
    font-size: 14px;
    line-height: 14px;
  }
  .home-page .road-map .road-map-info .phase .phase-item h4.title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .home-page .road-map .road-map-info .phase .phase-item ul {
    list-style: none;
    text-align: center;
  }
  .home-page .road-map .road-map-info .phase .phase-item ul li {
    font-size: 14px;
  }
  .home-page .road-map .road-map-info p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .home-page .top-home-page .img img {
    max-width: 240px;
  }
  .home-page .top-home-page .network-support .pc-view {
    display: none;
  }
  .home-page .top-home-page .network-support .mobile-view {
    display: block;
  }
  .home-page .top-home-page .network-support a img {
    max-width: 120px;
  }
  .home-page .road-map .road-map-info img {
    display: none;
  }
  .home-page .how-to-get-in .way-to-get-in .three-way .way .description {
    text-align: center;
  }
  .home-page .top-home-page .social-area {
    justify-content: unset;
  }
  .home-page .top-home-page .social-area .social-list li {
    margin-right: 50.32px;
  }
  footer .contact-us img {
    display: none;
  }
  footer {
    padding: 20px 0;
    text-align: center;
  }
  footer .footer-item {
    width: 100%;
  }
  footer .contact-us h1.title {
    font-size: 30px;
    line-height: 30px;
  }
  footer .contact-us p {
    font-size: 14px;
  }
  footer .contact-us {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 893px) {
  .home-page .air-drop .btn-area button.btn-home-page {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
